main {
    padding: 5rem 3rem;
    text-align: center;
}

main > .text-xxl {
    margin: 4rem 0 1rem;
    line-height: 2.5rem;
}

main > .text-md:nth-child(3) {
    margin: 4rem 0 1rem;
}

main > .contact-links {
    display: flex;
    justify-content: center;
}

main > .contact-links > div {
    margin: 0 1.5rem 1rem;
}

.divider {
    margin: 3rem 1rem 1rem;
    text-align: center;
}

.divider > hr {
    border: var(--light-border);
    width: 100%;
}

.divider > .text-md {
    margin: 0 auto;
    border: var(--light-border);
    border-radius: 50%;
    padding: 0.5rem;
    /* position: inline-block; */
    transform: translateY(-50%);
    width: fit-content;
    background-color: var(--light-gray);
}

main > form {
    margin: 1rem auto;
    border: var(--light-border);
    background-color: var(--light-gray);
    border-radius: 5px;
    width: fit-content;
    padding: 0.5rem 1rem;
}

main > form > div.text-group {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0.5rem 0.3rem;
    grid-gap: 1rem;
    align-items: baseline;
    max-width: 50rem;
    margin: 0 auto;
}

form > div.text-group > input[type="text"],
form > div.text-group > input[type="email"],
form > div.text-group > textarea {
    padding: 0.8rem 0.5rem;
    background-color: var(--white);
    border: var(--light-border);
    border-radius: 5px;
    color: var(--black);
}

form > div.text-group > textarea {
    height: 8rem;
}

form > div.text-group > label {
    text-align: right;
}

form > div.text-group > .btn-main {
    grid-column: 2 / 3;
    width: fit-content;
    border: none
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: var(--light-border);
    background-color: var(--light-gray);
    padding: 3rem;
}

footer > .links {
    display: flex;
    justify-content: space-around;
}

footer > .links > .link-group {
    flex-basis: 6rem;
    padding: 1rem 0;
}

footer > .links > .link-group > * {
    padding: 0.4rem 0;
}

footer > .links > .link-group > .text-md-b {
    padding-bottom: 0.8rem;
}

footer > .copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    flex-wrap: wrap-reverse;
}

footer > .copyright > div {
    padding: 1rem 0.2rem;
    text-align: center;
}

footer > .copyright > div > a {
    padding: 0 1rem;
}


/**
 * Media Queries
 */
@media (max-width: 460px) {
    main > form > div.text-group {
        grid-template-columns: 1fr;
        grid-gap: 0.3rem;
    }
    
    main > form > div.text-group > label{
        text-align: left;
    }
    
    main > form > div.text-group > .btn-main{
        grid-column: 1 / 2;
    }
    
    
}

@media (max-width: 768px) {
    footer > .links {
        flex-wrap: wrap;
    }
}